.about-section {
  position: relative;
  z-index: 0;
  background-image: linear-gradient(to left, rgba(29, 29, 29, 0.158), #91908e48),
    url(../static/images/home-bg.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.about-content {
  padding: 9rem 0 8rem !important;
  color: black;
  text-align: left;
}
.row-1 {
  padding: 10px;
  text-align: center;
  align-items: center;
}
.row-1 .subCol-1 {
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 50px;
}
.heading-h1 {
  font-size: 2.1em;
  padding-bottom: 10px;
}
.heading-h1 img {
  height: 2em;
  width: 2em;
}
.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}
.about-activity .hobby-icon {
  font-size: 30px;
  margin: 10px;
  color: #cd4f28;
}

.quote-card-view {
  border: none !important;
  color: black !important;
  background-color: transparent !important;
}
.quote-card-view .card-body div {
  font-size: 1.3rem;
}

.subCol-2 img {
  max-height: 800px;
  border-radius: 20px;
}
.skills-container {
  padding: 3rem 0 8rem !important;
  color: black;
  text-align: center;
  width: 70%;
}

.cards {
  margin: 5px;
  padding: 10px;
  width: 175px;
  min-height: 175px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 50%;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 1s;
}
.cards:hover {
  box-shadow: inset 0px 0px 6px 3px rgb(111 108 104);
  transform: scale(1.04);
}
.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px;
}
.skills ul li {
  list-style: none;
  display: inline-block;
  background-color: white;
  padding: 15px;
}

.skill-actual-icon {
  height: 7em;
  width: 7em;
}

.skill-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 767px) {
  .about-content {
    padding: 2rem 0 8rem !important;
  }
}

.color-text {
  color: #ed721b;
}
