.project-section {
    position: relative;
    z-index: 0;
    background-image: linear-gradient(
      to left,
      rgba(29, 29, 29, 0.158),
      #91908e48
    ), url(../static/images/home-bg.jpg);
      
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px !important;
    padding-top: 30px !important;
   
  }

  .project-content {
    padding: 4rem 0 6rem !important;
    color: black;
    text-align: left;
  }

  .projectsubCol-1 img{
    height:2em;
    width:2em;
  }
  .project-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:0px;
    margin-top: 7em;
    color: black;
  }

  .project-card-container a{
    text-decoration: none;
    color: black;
  }
  .project-card{
    list-style: none;
    margin: 8px;
    padding: 10px;
    width: 25em;
    height: 22em;
    box-shadow: inset 0px 0px 8px 4px rgb(0 0 0 / 34%);
    transition: all 0.5s;
    background-image: linear-gradient(45deg,rgba(120, 108, 96, 0.224),
    #003cff7c),url(../static/images/project-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
  }

  .project-card:hover{
    transform: scale(1.02);
    background-image: linear-gradient(45deg,rgba(247, 247, 247, 0.377),
    #0385f7bb),url(../static/images/project-background.jpg);
  }

  .card-body{
    /* padding-top: 20px;
    padding: 30px; */
    display: flex;
    flex-direction: column;
    text-align: left;
    min-height: inherit;
    min-width: inherit;
    justify-content: center;
  }

  .card-body strong{
    margin-right:20px;
  }
  .project-name{
    margin-bottom: 30px;
  }

  .techstack-div{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
   
  }
  .techstack-div p{
    font-size:0.6em;
  }
  .techstack-icon{
    height: 25px;
  }

  .row-2{
    text-align: center;
  }
  .btn-col{
    justify-content:center;
    padding-top:50px;
    padding-bottom:50px;
  }
  .more-btn{
    background-color: #e8800a;
    font-size: larger;
    box-shadow: inset 0px 0px 8px 4px rgb(0 0 0 / 34%);
    width: 50%;
    border-radius: 10px;
  }

  @media(max-width: 767px){
    .project-content{
      padding: 14rem 0 8rem !important;
    }
   }